<!-- Page Content
   ================================================== -->
<div class="row"><!--Container row-->

  <div class="three_fifth first">
    <!-- ####################################################################################################### -->
    <div id="about-intro" class="clear">


    </div>
    <!-- ####################################################################################################### -->
    <div id="skillset" class="clear">
      <div class="fl_left first">
        <h2>The Art Story</h2>
        <p>The Art Story nhằm giúp người xem có thể hiểu rõ hơn về những bức họa nổi tiếng mà ai cũng muốn quan tâm. Mỗi một trong các trang chủ đề của chúng tôi là có nghĩa là để được một phân tích rằng có thể thuyết phục người hoài nghi hăng hái nhất trong các giá trị của nghệ sĩ đặc biệt, phong trào, hay ý tưởng. Đây là nhiệm vụ mà chúng tôi phấn đấu trong mọi lý luận duy nhất hợp lý, nghệ sĩ quote, hoặc hỗ trợ tài nguyên.</p>
        <p>Vui lòng truy cập vào hàng trăm trang mà chúng tôi đã công bố trên trang web của chúng tôi và cho chúng tôi biết chúng tôi là thành công, và quan trọng hơn, nơi mà chúng ta cần phải làm việc hơn nữa. Nếu bạn đồng ý với cách tiếp cận của chúng tôi và muốn nhìn thấy chúng tôi thành công, vui lòng giới thiệu chúng tôi với bạn bè của bạn.</p>
      </div>

    </div>
    <!-- ####################################################################################################### -->
  </div>

  <div id="team" class="two_fifth">
    <h2>Thành viên trong nhóm: </h2>

  </div>
  <table style="width:100%">
    <tr>
      <td>
        <div class="figure clear"><img src="<%=image_path("profile.jpg")%>" alt="" />
          <div class="figcaption">
            <p></p>
            <p class="team_name">Phạm Văn Luân</p>
            <p class="team_title">ID: 1001040066</p>
            <p class="team_title">Lớp: 3C-11</p>
            <p class="team_title">Khoa: Công nghệ thông tin</p>
            <p class="team_title">Trường: Đại học Hà Nội</p>
          </div>
        </div>
      </td>
      <td>
        <div class="figure clear"><img src="<%=image_path("profile4.jpg")%>" alt="" />
          <div class="figcaption">
            <p></p>
            <p class="team_name">Nguyễn Tất Hà Sơn</p>
            <p class="team_title">ID: 1001040090</p>

            <p class="team_title">Lớp: 4C-11</p>
            <p class="team_title">Khoa: Công nghệ thông tin</p>
            <p class="team_title">Trường: Đại học Hà Nội</p>

          </div>
        </div>
      </td>

    </tr>
    <tr>
      <td>
        <div class="figure clear"><img src="<%=image_path("profile3.jpg")%>" alt="" />
          <div class="figcaption">
            <p></p>
            <p class="team_name">Lê Khả Nội</p>
            <p class="team_title">ID: 1101040142</p>
            <p class="team_title">Lớp: 4C-11</p>
            <p class="team_title">Khoa: Công nghệ thông tin</p>
            <p class="team_title">Trường: Đại học Hà Nội</p>

          </div>
        </div>
      </td>
      <td>
        <div class="figure clear"><img src="<%=image_path("profile2.jpg")%>" alt="" />
          <div class="figcaption">
            <p></p>
            <p class="team_name">Nguyễn Khánh Duy</p>
            <p class="team_title">ID: 1101040142</p>
            <p class="team_title">Lớp: 3C-11</p>
            <p class="team_title">Khoa: Công nghệ thông tin</p>
            <p class="team_title">Trường: Đại học Hà Nội</p>

          </div>
        </div>
      </td>

    </tr>

  </table>




</div> <!--End page content column-->

  <!-- Sidebar
  ================================================== -->


</div><!-- End container row -->

</div> <!-- End Container -->