<script type="text/javascript">
    $(window).load(function(){

        $('.flexslider').flexslider({
            animation: "slide",
            slideshow: true,
            start: function(slider){
                $('body').removeClass('loading');
            }
        });
    });
</script>

<!-- Page Content
    ================================================== -->

<!-- Title Header -->
<div class="row">
  <div class="span12">
    <ul id="filterOptions" class="gallery-cats clearfix">
      <li class="active"><a href="index.htm" class="home">Home</a></li>
      <li><a href="news.htm" class="news">News</a></li>

    </ul>
    <!-- Carousel
    ================================================== -->
    <div class="row">
      <div class="span6">
        <div class="flexslider">
          <ul class="slides">
            <li><a href="gallery-single.htm"><img src="img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
            <li><a href="gallery-single.htm"><img src="img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
            <li><a href="gallery-single.htm"><img src="img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
            <li><a href="gallery-single.htm"><img src="img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
            <li><a href="gallery-single.htm"><img src="img/gallery/slider-img-1.jpg" alt="slider" /></a></li>
          </ul>
        </div>
      </div>

      <div class="span6">
        <h5>Lorem ipsum dolor sit amet</h5>
        <p>Vivamus augue nulla, vestibulum ac ultrices posuere, vehicula ac arcu. Quisque nisi lacus, bibendum quis commodo eget, lobortis eget elit. Cras venenatis mauris eu tortor consequat a convallis nulla molestie. Phasellus malesuada malesuada velit et fermentum. Proin ut leo nec mauris pulvinar volutpat. Sed ac neque nec leo condimentum rhoncus. Nunc dapibus odio et lacus elementum congue. Praesent nulla arcu, condimentum eu lobortis sit amet, pretium vitae metus. </p>

        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Praesent nulla arcu, condimentum eu lobortis.</p>
          <small>Someone famous <cite title="Source Title">Source Title</cite></small>
        </blockquote>

        <a class="btn btn-small btn-inverse pull-left" href="detailnews.htm" >Find out more</a>
      </div>

    </div>

    <h3 class="title-bg"> This is a sub head divider</h3>
    <div class="row">
      <div class="span4">
        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
        <h5>3 Column Layout</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
        <a class="btn btn-small btn-inverse pull-left" href="detailnews.htm">Read more</a>
      </div>
      <div class="span4">
        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
        <h5>3 Column Layout</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
        <a class="btn btn-small btn-inverse pull-left" href="detailnews.htm" >Read more</a>
      </div>
      <div class="span4">
        <img src="img/gallery/gallery-img-1-3col.jpg" alt="image">
        <h5>3 Column Layout</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna. Nulla faucibus ligula eget ante varius ac euismod odio placerat. Nam sit amet felis non lorem faucibus rhoncus vitae id dui.</p>
        <a class="btn btn-small btn-inverse pull-left" href="detailnews.htm">Read more</a>
      </div>
    </div>

  </div>
</div>

</div> <!-- End Container -->